<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='style.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Dangrek' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Mada' rel='stylesheet'>
    <title>Home</title>
</head>
<body>
    <div class = "block">
        <div class = "innerBlock">
            <p class = "blockText">MON</p>
        </div>
        <img class = "image" src = "../../static/Angry.svg">
    </div>
    <div class = "block">
        <div class = "innerBlock">
            <p class = "blockText">TUE</p>
        </div>
        <img class = "image" src = "../../static/Angry.svg">
    </div>
    <div class = "block">
        <div class = "innerBlock">
            <p class = "blockText">WED</p>
        </div>
        <img class = "image" src = "../../static/Angry.svg">
    </div>
    <div class = "block">
        <div class = "innerBlock">
            <p class = "blockText">THU</p>
        </div>
        <img class = "image" src = "../../static/Angry.svg">
    </div>
    <div class = "block">
        <div class = "innerBlock">
            <p class = "blockText">FRI</p>
        </div>
        <img class = "image" src = "../../static/Angry.svg">
    </div>
    <div class = "block">
        <div class = "innerBlock">
            <p class = "blockText">SAT</p>
        </div>
        <img class = "image" src = "../../static/Angry.svg">
    </div>
    <div class = "block">
        <div class = "innerBlock">
            <p class = "blockText">SUN</p>
        </div>
        <img class = "image" src = "../../static/Angry.svg">
    </div>
<div style = "text-align: center;">
    <button><p class = "buttonText">LOG TODAY'S MOOD</p></button>
</div>
</body>
</html>