<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='style.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Dangrek' rel='stylesheet'>
    <title>Home</title>
</head>
<body style = "padding-top: 50px">
    <div class = "block">
        <div class = "innerBlock">
            <p class = "blockText">MON</p>
        </div>
        <img src = "">
    </div>
    <div class = "block">
        <div class = "innerBlock">
            <p class = "blockText">TUE</p>
        </div>
    </div>
    <div class = "block">
        <div class = "innerBlock">
            <p class = "blockText">WED</p>
        </div>
    </div>
    <div class = "block">
        <div class = "innerBlock">
            <p class = "blockText">THU</p>
        </div>
    </div>
    <div class = "block">
        <div class = "innerBlock">
            <p class = "blockText">FRI</p>
        </div>
    </div>
    <div class = "block">
        <div class = "innerBlock">
            <p class = "blockText">SAT</p>
        </div>
    </div>
    <div class = "block">
        <div class = "innerBlock">
            <p class = "blockText">SUN</p>
        </div>
    </div>

</body>
</html>