<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='style.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Dangrek' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Mada' rel='stylesheet'>
    <title>Home</title>
</head>
<body>
    <p>{{ moods }}</p>
    {% for item in moods %}
        <p>{{ time.date }}</p>
    {% endfor %}
    <div class = "block">
        <div class = "innerBlock">
            <p class = "blockText" data-mood="{{ moods.get('MON') }}">MON</p>
        </div>
        <img class = "image" src = "{% static 'Angry.svg' %}">
    </div>
    <div class = "block">
        <div class = "innerBlock">
            <p class = "blockText" data-mood="{{ moods.get('TUE') }}" >TUE</p>
        </div>
        <img class = "image" src = "{% static 'Angry.svg' %}">
    </div>
    <div class = "block">
        <div class = "innerBlock">
            <p class = "blockText" data-mood="{{ moods.get('WED') }}">WED</p>
        </div>
        <img class = "image" src = "{% static 'Angry.svg' %}">
    </div>
    <div class = "block">
        <div class = "innerBlock">
            <p class = "blockText" data-mood="{{ moods.get('THU') }}">THU</p>
        </div>
        <img class = "image" src = "{% static 'Angry.svg' %}">
    </div>
    <div class = "block">
        <div class = "innerBlock">
            <p class = "blockText" data-mood="{{ moods.get('FRI') }}">FRI</p>
        </div>
        <img class = "image" src = "{% static 'Angry.svg' %}">
    </div>
    <div class = "block">
        <div class = "innerBlock">
            <p class = "blockText" data-mood="{{ moods.get('SAT') }}">SAT</p>
        </div>
        <img class = "image" src = "{% static 'Angry.svg' %}">
    </div>
    <div class = "block">
        <div class = "innerBlock">
            <p class = "blockText" data-mood="{{ moods.get('SUN') }}">SUN</p>
        </div>
        <img class = "image" src = "{% static 'Angry.svg' %}">
    </div>
<div style = "text-align: center;">
    <button><p class = "buttonText">LOG TODAY'S MOOD</p></button>
</div>
</body>
</html>