<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Dangrek' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Mada' rel='stylesheet'>
    <link href='style2.css' rel='stylesheet'>
    <title>Suggestions</title>
</head>
<body>
    <h2>DEEP BREATHING</h2>


    <iframe class="frame"
     src="https://www.youtube.com/embed/aNXKjGFUlMs?si=Vs9ZGVWt6tHKC9xt" 
     title="YouTube video player" 
     frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
      referrerpolicy="strict-origin-when-cross-origin" 
      allowfullscreen></iframe>

    


    <div class = "block">
        <p class="blockText">
            Feeling upset? Don’t forget to breathe! Sometimes we all just need to take a step back and slow down.
            
            

        </p>
    </div>


</body>
</html>