<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Dangrek' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Mada' rel='stylesheet'>
    <link href='style2.css' rel='stylesheet'>
    <title>Suggestions</title>
</head>
<body>
    <h2>GENTLE MOVEMENT</h2>

    <iframe class="frame"
    width="560" 
    height="315" 
    src="https://www.youtube.com/embed/QErBojJvCMI?si=NU9U3UtTTiX3Qu3w" 
    title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" 
    allowfullscreen></iframe>
  

    <div class = "block">
        <p class="blockText">
            Take some time to do some gentle movements. Take your mind off of what’s bothering you and focus on yourself. 
            

        </p>
    </div>


</body>
</html>