<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Dangrek' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Mada' rel='stylesheet'>
    <title>Gratitude</title>
    <link href='infoHappy.css' rel='stylesheet'>
</head>
<body>
    <h2>PRACTICE GRATITUDE</h2>
    <div class = "block">
        <p class = "blockText">Feeling positive is a great time to practice gratitude. Here are some suggestions:<br></p>
        <ul class = "blockText">
            <li>Take a moment to appreciate the people who bring joy to your life.</li> <br>
            <li>Reflect on one thing you’re grateful for today - it could be as simple as a good cup of coffee or a kind gesture from someone.</li> <br>
            <li>Take a moment to appreciate your own strength and resilience.</li> <br>
            <li>Notice something beautiful in your surrounding and take a moment to be thankful for it.</li>
        </ul>
    </div>
    <div class = "buttonAlign">
        <button>BACK</button>
    </div>
</body>
</html>