body {
    color: #283F2B;
    background-image: url('../../static/infoBG.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 393px 852px;
    background-position: center;
}

h2 {
    text-align: center;
    font-family: "Dangrek";
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}