<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Dangrek' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Mada' rel='stylesheet'>
    <link href='style2.css' rel='stylesheet'>
    <title>Suggestions</title>
</head>
<body>
    <h2>MEDITATION</h2>

    <iframe class="frame"
    width="560" 
    height="315" 
    src="https://www.youtube.com/embed/inpok4MKVLM?si=uS-c5jp6gkmC7RMr" 
    title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin"
     allowfullscreen></iframe>
  

    <div class = "block">
        <p class="blockText">
            Life can feel much too fast paced. Take some time and meditate! Close your eyes and enjoy the moment.
            

        </p>
    </div>


</body>
</html>