<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Dangrek' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Mada' rel='stylesheet'>
    <title>Positivity</title>
    <link href='infoHappy.css' rel='stylesheet'>
</head>
<body>
    <h2>SHARE THE POSITIVITY</h2>
    <div class = "block">
        <p class = "blockText">
            Feeling positive is amazing! <br><br> 

            Try sharing that positivity with others today <br><br> 

            Here are some compliments you can use: <br><br> 
            
            “You have a great way of making things feel effortless.” <br><br> 
            
            “I really admire how you stay calm and positive in any situation.” <br><br> 
            
            “I love how you see the best in people.” <br><br> 
            
            “You have a really authentic way of connection with people.”</p>
    </div>
    <div class = "buttonAlign">
        <button>BACK</button>
    </div>
</body>
</html>