<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Dangrek' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Mada' rel='stylesheet'>
    <title>Gratitude</title>
    <link href='infoHappy.css' rel='stylesheet'>
</head>
<body>
    <h2>TREAT YOURSELF</h2>
    <div class = "block">
        <p class = "blockText">Feeling positive is no small feat! Make sure to treat yourself to something nice today to keep the positive mindset! <br></p>      
        <ul class = "blockText">
            <li>Take a break and watch a movie or show you enjoy.</li> <br>
            <li>Spend some time doing something creative or fun just for you.</li> <br>
            <li>Give yourself permission to do nothing for a while and recharge.</li>
        </ul>
    </div>
    <div class = "buttonAlign">
        <button>BACK</button>
    </div>
</body>
</html>