<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Dangrek' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Mada' rel='stylesheet'>
    <link href='style.css' rel='stylesheet'>
    <title>Mood</title>
</head>
<body>
    <h2>How are you feeling today?</h2>
    <table>
        <tr class = "row"><td>
            <img class = "leftImg" src = "../../static/Happy.svg">
            <p>Happy</p>
        </td></tr>
        <tr class = "row"><td>
            <img class = "leftImg" src = "../../static/Content.svg">
            <p>Content</p>
        </td></tr>
        <tr class = "row"><td>
            <img class = "leftImg" src = "../../static/Stressed.svg">
            <p>Stressed</p>
        </td></tr>
        <tr class = "row"><td>
            <img class = "leftImg" src = "../../static/Sad.svg">
            <p>Sad</p>
        </td></tr>
        <tr class = "row"><td>
            <img class = "leftImg" src = "../../static/Angry.svg">
            <p>Angry</p>
        </td></tr>
    </table>
</body>
</html>