body {
    background-image: url('../../static/homeBG.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 393px 852px;
    background-position: center;
    padding-top: 50px;
}

.buttonAlign {
    text-align: center;
}

.block {
    display: flex;
    height: 75px;
    width: 210px;
    background-color: #F1E4C9;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.innerBlock {
    height: 65px;
    width: 75px;
    background-color: #86A789;
    border-radius: 8px;
    margin-left: 5px;
    text-align: center;
}

.blockText {
    font-family: "Dangrek";
    margin: 18px;
    font-size: 20px;
}

.image {
    margin-right: 34px;
    margin-left: auto;
    height: 59px;
    width: 59px;
}

button {
    margin-top: 25px;
    width: 325px;
    height: 50px;
    font-family: "Mada";
    font-size: 20px;
    background-color: #48624A;
    border-radius: 40px;
    border-style: none;
    transition: background-color 0.25s;
}

button:hover{
    background-color:#506e53;
    cursor: pointer;
}

.buttonText {
    color: white;
    font-family: "Mada";
    margin-top: auto;
    margin-bottom: auto;
}